<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Kafka Crypto Dashboard</title>
    <link rel="stylesheet" href="styles/style.css" />
  </head>
  <body>
    <div class="main-container">
      <h1 style="display: flex; justify-content: center">
        Kafka Message Producer
      </h1>
      <form style="display: inline" action="/produce" method="POST">
        <input
          type="text"
          name="message"
          placeholder="Enter a message"
          required
        />
        <button type="submit">Send</button>
      </form>
      <form style="display: inline" action="/clear-messages" method="POST">
        <button type="submit">Clear</button>
      </form>

      <div class="consumer">
        <h2>Received Messages</h2>
        <% messages.forEach((m,index) => { %> <% if (m.message) { %>
        <p>User<%= index %>: <%= m.message %></p>
        <% } %> <% }) %>
      </div>
    </div>

    <div class="crypto-widget">
      <h2>Crypto Prices (Real-time)</h2>
      <% const latestCrypto = messages.findLast(m => m.usd && m.eur && m.gbp);
      %> <% if (latestCrypto) { %>
      <p><strong>Time:</strong> <%= latestCrypto.time %></p>
      <p>USD: <%= latestCrypto.usd %></p>
      <p>EUR: <%= latestCrypto.eur %></p>
      <p>GBP: <%= latestCrypto.gbp %></p>
      <% } else { %>
      <p>Loading crypto data...</p>
      <% } %>
    </div>
    <script src="/script.js"></script>
  </body>
</html>
